<div class="row justify-content-end">
	<button class="btn btn-default" type="button" data-toggle="modal" data-target="#exampleModalPreview" (click)="getEmptyNewClient(); modalTitle = 'Add Client'">Add Item</button>
</div>


<div class="all_card">
	<div class="board" cdkDropList [cdkDropListData]="tracks" (cdkDropListDropped)="onTrackDrop($event)" cdkDropListOrientation="horizontal">
		<div class="card-list mat-elevation-z1" *ngFor="let track of tracks" ng-repeat="-createdAt">
			<div class="card">
				<div class="card-header" style="padding: 5px 10px;">
					<span class="track_title">{{track.title}}</span>
					<span class="card_count_lbl">{{track.tasks.length}}</span>
				</div>		
			</div>
			<div class="card-list-content" cdkDropList [id]="track.id" [cdkDropListData]="track.tasks" [cdkDropListConnectedTo]="trackIds" (cdkDropListDropped)="onTalkDrop($event)" style="margin: 3px; padding: 3px;">
				<mat-card *ngFor="let task of track.tasks "cdkDrag>
					<mat-card-content>
						<div class="card" [ngClass]="getPriorityClass(task.priority).class" (click)="openModel(task)" data-toggle="tooltip" data-placement="bottom" [title]="getPriorityClass(task.priority).title">
							<div class="card-body" style="padding: 0px;">
								<table cellspacing="2">
									<tr>
										<td>
											<ul class="team-members">	
												<li *ngIf="task.coordinator" [title]="getTitle(task.coordinator.name)">
													<a href="javascript:void(0);">
														{{getInitialsOfName(task.coordinator.name)}}
													</a>
												</li>
												<li *ngIf="!task.coordinator" class="add-member">
													<a href="javascript:void(0);" title="Add Member">
														<i class="fa fa-user-plus"></i>
													</a>
												</li>
											</ul>
										</td>
										<td>
											<div class="card-text text-bold" style="color: #333333 !important">{{task.name}}</div>
											<div class="card-text">{{task.email}}</div>
											<!-- <div>{{task.createdAt | timeAgo }}</div> -->
										</td>
									</tr>
								</table>
							</div>
						</div>
					</mat-card-content>
				</mat-card>
			</div>
		</div>
	</div>
</div>

<div class="modal fade right" id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg modal-full-height modal-right" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title w-100" id="myModalLabel">Client Details</h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<i class="fa fa-times"></i>
				</button>
			</div>
			<div class="modal-body" *ngIf="newClinet">
				<div class="container-fluid">
					<table style="width: 100%;">
						<tr>
							<td style="width: 20px;">
								<ul class="team-members">	
									<li *ngIf="newClinet.coordinator" [title]="getTitle(newClinet.coordinator.name)">
										<a href="javascript:void(0);">
											{{getInitialsOfName(newClinet.coordinator.name)}}
										</a>
									</li>
									<li *ngIf="!newClinet.coordinator" class="add-member">
										<a href="javascript:void(0);" title="Add Member">
											<i class="fa fa-user-plus"></i>
										</a>
									</li>
								</ul>
							</td>
							<td>
								<p class="card-title" style="color: #222;padding: 16px 10px;margin: 0;font-size: 16px;
								font-weight: bold;;">{{newClinet.name}}</p>
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<div class="card-text" style="display: block;white-space: pre-line;margin: 4px 15px;">{{newClinet.email}}</div>
							</td>
						</tr>
					</table>
					<div class="details">
						<div class="row">
							<div class="col-12 col-md-4">
								<p  *ngIf="newClinet.createdBy">
									<label><strong>Created By: &nbsp;</strong></label>
									<span>{{newClinet.createdBy.name}}</span>
								</p>
								<p *ngIf="newClinet.createdAt">
									<label><strong>Created Date: &nbsp;</strong></label>
									<span>{{newClinet.createdAt | date:'short'}}</span>
								</p>
								<p *ngIf="newClinet.status">
									<label><strong>Status: &nbsp;</strong></label>
									<span>{{newClinet.status}}</span>
								</p>
							</div>
							<div class="col-12 col-md-4">
								<p>
									<label><strong>Assign To: &nbsp;</strong></label>
									<span>{{(newClinet.coordinator)?newClinet.coordinator.name:'null'}}</span>
								</p>
								<p *ngIf="newClinet.priority">
									<label><strong>Prority: &nbsp;</strong></label>
									<span>{{getPriorityClass(newClinet.priority).title}}</span>
								</p>
								<p *ngIf="newClinet.dueDate">
									<label><strong>DueDay: &nbsp;</strong></label>
									<span>{{newClinet.dueDate}}</span>
								</p>
							</div>
							<div class="col-12 col-md-4">
								<p>start time end time</p>
							</div>
						</div>
						<div class="row justify-content-between">
							<div>
								<button class="btn btn-default">Remove Assignment</button>
								<span *ngFor="let trak of tracks">
									<button class="btn btn-default" *ngIf="newClinet.status == trak.id" (click)="updateStatus(trak.id, newClinet)">Update Status</button>
								</span>
							</div>
							<div>
								<button class="btn btn-default" type="button" data-toggle="modal" data-target="#exampleModalPreview" (click)="modalTitle='Edit Client'; newTask = newClinet">Edit</button>
								<button class="btn btn-default" type="button" (click)="deleteTask(newClinet)">Delete Task</button>
							</div>
						</div>
					</div>
					<hr>
					<h2>Comments</h2>
					<div *ngIf="comments && comments.length>0">
						<div class="comment_area">
							<div class="comment_section" *ngFor = "let i of comments">
								<div class="card">
									<div class="card-body">
										<ul class="team-members">	
											<li *ngIf="i.userId" [title]="getTitle(i.userId.name)">
												<a href="javascript:void(0);">
													{{getInitialsOfName(i.userId.name)}}
												</a>
											</li>
										</ul>
										<div>
											<p class="developerName" *ngIf="i.userId">
												{{i.userId.name}}
											</p>
											<p>
												{{i.content}}
											</p>
											<img [src]="" width="200" height="100" onerror="this.src='assets/icons/issues.png'">
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div *ngIf="newClinet.comment && newClinet.comment.length<=0">
						<p>No comments on this be the first one to comments on...</p>
					</div>
					<div class="padding-20">
						<ckeditor class="ckeditor" [editor]="Editor" [(ngModel)]="model.editorData" (ready)="onReady($event)" (change)="onChange($event)"></ckeditor>
						<div class="btn btn-default" (click)="commentImg.click()">
							<span>Upload image with comment</span>
							<input type="file" #commentImg name="commentImg" (change)="onSelectFile($event)" hidden multiple accept="image/png, image/jpg, image/jpeg">
						</div>
						<button class="btn btn-default" (click)="sendComment(newClinet._id)" [disabled]="!comment && files.length==0">Add Comment</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<div class="modal fade right" id="exampleModalPreview" tabindex="-1" role="dialog" aria-labelledby="exampleModalPreviewLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalPreviewLabel">{{modalTitle}}</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body" *ngIf="newClinet">
				<div class="row">
					<form style="width: 100%;" [formGroup]="addClientForm">
						<div class="form-group col-12">
							<label for="name">Client Name</label>
							<input type="text" id="name" formControlName="name" [(ngModel)]="newClinet.name" class="form-control">
						</div>
						<div class="row no-margin no-padding">
							<div class="form-group col-6">
								<label for="email">E-mail Id</label>
								<input type="email" id="email" formControlName="email" [(ngModel)]="newClinet.email" class="form-control">
							</div>
							<div class="form-group col-6">
								<label for="contact_number">Contact</label>
								<input type="tel" id="contact_number" formControlName="contact_number" [(ngModel)]="newClinet.contact_number" class="form-control">
							</div>
						</div>
						<div class=" row form-group col-12">
							<button class="btn btn-default" (click)="fileUpload.click()">
								<i class="fa fa-paperclip mr-1"></i> Add Client Logo
								<input type="file" name="uploadedFiles" #fileUpload (change)="onSelectFile($event)" hidden accept="image/png, image/jpg, image/jpeg">
							</button>
						</div>
						<div class="row no-margin no padding" >
							<div class="form-group col-12 col-lg-6">
								<label for="coordinator">Co-ordinator</label>

								<select  class="browser-default custom-select custom-select-lg mb-3" id="coordinator" formControlName="coordinator" *ngIf="newClinet.coordinator" [(ngModel)]="newClinet.coordinator._id">
									<option *ngFor="let team of projectTeam" value="{{team._id}}">{{team.name}}</option>
								</select>
								<select  class="browser-default custom-select custom-select-lg mb-3" id="coordinator" formControlName="coordinator" *ngIf="!newClinet.coordinator">
									<option *ngFor="let team of projectTeam" value="{{team._id}}">{{team.name}}</option>

								</select>
							</div>
							<div class="form-group col-12 col-lg-6">
								<label for="priority">Priority</label>
								<select class="browser-default custom-select custom-select-lg mb-3" id="priority" formControlName="priority" [(ngModel)]="newClinet.priority">
									<option value="4">Low</option>
									<option value="3">Medium</option>
									<option value="2">High</option>
									<option value="1">Highest</option>
								</select>
							</div>
						</div>
						<div class="row no-margin no padding" >
							<!-- <div class="form-group col-12">
								<label for="communication_medium">Communication Type</label>
								<input id="communication_medium" type="text" formControlName="communication_medium" [(ngModel)]="newClinet.communication_medium" class="form-control">
							</div> -->
							<!-- <mat-form-field class="example-full-width">
								<input type="text" aria-label="Number" matInput formControlName="communication_medium" [matAutocomplete]="auto">
								<mat-autocomplete #auto="matAutocomplete">
									<mat-option *ngFor="let option of filteredOptions | async" [value]="option">
										{{option}}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field> -->
							<mat-form-field class="example-full-width">
								<input type="text" aria-label="Number" matInput formControlName="communication_medium" [(ngModel)]="newClinet.communication_medium" [matAutocomplete]="auto">
								<mat-autocomplete #auto="matAutocomplete">
									<mat-option *ngFor="let option of options" [value]="option.id">
										{{ option.name }}
									</mat-option>
								</mat-autocomplete>
							</mat-form-field>
						</div>
						<div class="form-group col-12">
							<label for="status">Status</label>
							<select class="browser-default custom-select custom-select-lg mb-3" id="status" formControlName="status" [(ngModel)]="newClinet.status">
								<option *ngFor="let trak of tracks" value="{{trak.id}}">{{trak.title}}</option>
							</select>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-lg" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-default btn-lg" (click)="(modalTitle == 'Edit Client')?updateTask(newClinet):saveTheClient(addClientForm.value)">Save changes</button>
			</div>
		</div>
	</div>
</div>
